@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\000031}}
* {
  padding: 0;
  margin: 0;
  font-family: 'Playfair Display', serif; }

@media only screen and (max-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\0000317}}
  body {
    padding: 0 10px 0 10px; } }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\0000325}}
.main-header {
  background-image: url("../assets/image-main.png");
  height: 1010px; }
  @media only screen and (max-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\0000325}}
    .main-header {
      background-image: url("../assets/image-main1.png");
      margin: 0 -10px 0 -10px;
      height: 580px; } }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\0000336}}
.mainnavigation-logo {
  margin: 23px 0 40px 0; }
  @media only screen and (max-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\0000336}}
    .mainnavigation-logo {
      display: none; } }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\0000343}}
.mainnavigation-logo_mobile {
  display: none; }
  @media only screen and (max-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\0000343}}
    .mainnavigation-logo_mobile {
      display: inline-block;
      padding: 30px 0 0 10px; } }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\0000351}}
.mainnavigation-container {
  max-width: 1180px;
  margin: 0 auto; }
  @media only screen and (max-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\0000354}}
    .mainnavigation-container nav {
      display: none; } }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\0000360}}
  .mainnavigation-container li {
    display: inline; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\0000363}}
    .mainnavigation-container li a {
      padding: 5px 10px 5px 11px;
      margin: 0 36px 0px -8px;
      text-decoration: none;
      font-size: 14px;
      color: #fff; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\0000371}}
    .mainnavigation-container li a:hover {
      border: 1px solid #fff;
      border-radius: 3px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\0000380}}
.menu-toggle {
  display: none;
  color: #fff;
  float: right;
  cursor: pointer; }
  @media only screen and (max-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\0000380}}
    .menu-toggle {
      display: block;
      margin: 41px 25px 0 0; } }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\0000392}}
.mainimage-container {
  max-width: 1165px;
  margin: 0 auto;
  padding-top: 112px;
  color: #fff; }
  @media only screen and (max-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\0000392}}
    .mainimage-container {
      padding-top: 40px; } }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003102}}
.mainimage-headline {
  font-size: 60px;
  font-weight: 500; }
  @media only screen and (max-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003102}}
    .mainimage-headline {
      font-size: 30px;
      margin: 16px 10px 29px 10px; } }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003111}}
.mainimage-copy {
  border-left: 3px solid #fff;
  margin: 118px 0 0 0; }
  @media only screen and (max-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003111}}
    .mainimage-copy {
      display: none; } }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003119}}
.mainimage-copy-1 {
  display: inline-block;
  width: 410px;
  margin: -14px 0 0 45px;
  padding: 8px 0 5px 0;
  line-height: 1.6;
  font-size: 16px; }
  @media only screen and (max-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003119}}
    .mainimage-copy-1 {
      margin: -11px 0 15px 30px;
      font-size: 14px; } }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003132}}
.mainimage-copy-2 {
  padding: 30px 0 0 43px;
  line-height: 1.4;
  font-size: 18px; }
  @media only screen and (max-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003132}}
    .mainimage-copy-2 {
      padding: 0 0 0 30px;
      font-size: 15px; } }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003142}}
.mainimage-information {
  display: inline-block;
  border: 1px solid #fff;
  padding: 14px 35px 10px 38px;
  margin: 29px 0 4px 33px;
  font-size: 20px; }
  @media only screen and (max-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003142}}
    .mainimage-information {
      padding: 10px 25px 6px 28px;
      margin: 21px 0 4px 22px; } }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003154}}
.mainimage-information p:first-child {
  font-size: 18px; }
  @media only screen and (max-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003154}}
    .mainimage-information p:first-child {
      font-size: 15px; } }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003161}}
.mainimage-information p:last-child {
  margin-top: -8px;
  font-size: 30px;
  font-weight: bold; }
  @media only screen and (max-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003161}}
    .mainimage-information p:last-child {
      font-size: 26px; } }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003174}}
.willkommen-header {
  margin: -66px 0 40px 365px;
  font-size: 42px;
  font-weight: 500;
  color: #320C0F; }
  @media only screen and (max-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003174}}
    .willkommen-header {
      margin: 0 auto;
      padding: 0 0 30px 0;
      max-width: 500px;
      text-align: center;
      font-size: 38px; } }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003188}}
.willkommen-vanillaimage {
  width: 310px;
  margin: 0 auto;
  padding: 100px 0 40px 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003196}}
.teaser_with_image-container {
  margin: 0 auto;
  max-width: 1070px;
  display: grid;
  grid-template-columns: 300px 297px 300px;
  grid-column-gap: 100px;
  line-height: 1.2;
  font-size: 15px; }
  @media only screen and (max-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003196}}
    .teaser_with_image-container {
      max-width: 500px;
      margin: 0 auto;
      grid-template-columns: auto; } }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003210}}
  .teaser_with_image-container p:nth-child(3) {
    padding-bottom: 18px;
    font-size: 13px;
    line-height: 1.5;
    letter-spacing: 0.2px;
    color: #272728; }
    @media only screen and (max-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003210}}
      .teaser_with_image-container p:nth-child(3) {
        padding-bottom: 38px;
        text-align: center;
        font-size: 14px; } }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003223}}
  .teaser_with_image-container p:nth-child(4) {
    font-size: 13px;
    line-height: 1.5;
    letter-spacing: 0.2px;
    color: #272728; }
    @media only screen and (max-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003223}}
      .teaser_with_image-container p:nth-child(4) {
        margin: -28px 0 38px 0;
        font-size: 14px;
        text-align: center; } }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003236}}
.teaser_with_image-image {
  margin: 0 0 20px -50px; }
  @media only screen and (max-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003236}}
    .teaser_with_image-image {
      display: block;
      margin: 0 auto;
      padding: 20px 0 15px 0; } }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003245}}
.teaser_with_image-header {
  padding-bottom: 15px;
  font-size: 26px;
  color: #320C0F;
  font-weight: 500; }
  @media only screen and (max-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003245}}
    .teaser_with_image-header {
      padding-bottom: 30px;
      text-align: center; } }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003256}}
.teaser_with_image-link {
  margin-top: 20px;
  color: #C7000F;
  font-weight: bold;
  font-size: 14px; }
  @media only screen and (max-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003256}}
    .teaser_with_image-link {
      margin: 0 auto;
      display: block;
      text-align: center; } }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003268}}
.teaser_with_image a:hover {
  color: #320C0F; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003272}}
.teaser_with_image-border {
  max-width: 1180px;
  margin: 0 auto;
  border-bottom: 10px solid #AEAEAE;
  padding: 100px 0 0 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003282}}
.footer-container {
  background-color: #320C0F; }
  @media only screen and (max-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003282}}
    .footer-container {
      margin: 0 -10px 0 -10px; } }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003289}}
.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 470px 530px 200px; }
  @media only screen and (max-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003289}}
    .footer-content {
      grid-template-columns: auto; } }
  @media only screen and (max-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003298}}
    .footer-content div:nth-child(1) {
      margin: 0 auto; } }
  @media only screen and (max-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003304}}
    .footer-content div:nth-child(2) {
      margin: 0 auto; } }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003310}}
  .footer-content div:nth-child(2) a {
    font-size: 13px;
    display: block;
    margin: -37px 0 22px 0;
    color: #968384; }
    @media only screen and (max-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003310}}
      .footer-content div:nth-child(2) a {
        margin: 30px 0 22px 0;
        text-align: center; } }
  @media only screen and (max-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003321}}
    .footer-content div:nth-child(3) {
      margin: 0 auto; } }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003328}}
.footer-information {
  padding: 0 0 0 20px;
  margin: 28px 0 57px 0;
  border-left: 3px solid #fff;
  display: inline-block; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003335}}
.footer-information p:nth-child(2) {
  padding-top: -5px;
  margin: 5px 0 0 0;
  color: #fff;
  font-weight: 500;
  font-size: 14px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003343}}
.footer-information p:nth-child(3) {
  margin: 0 0 -5px 0;
  padding: 8px 0 0 0;
  color: #fff;
  font-size: 18px;
  font-weight: bold; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003352}}
.footer-information a:hover {
  color: #fff; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003356}}
.footer-addressmap {
  display: block;
  margin: 0 0 -30px -60px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003361}}
.footer-linkcontainer {
  float: right;
  margin-top: 110px;
  padding-top: 9px;
  font-size: 13px;
  color: #968384; }
  @media only screen and (max-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003361}}
    .footer-linkcontainer {
      margin: 0;
      padding-bottom: 20px; } }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003373}}
.footer-linkcontainer a:hover {
  color: #fff; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003377}}
.footer-restauranlogoimage {
  width: 150px;
  padding: 30px 0 0 0; }
  @media only screen and (max-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003377}}
    .footer-restauranlogoimage {
      padding: 30px 0 20px 0; } }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003392}}
.mainheader-container {
  background-color: #320C0F; }
  @media only screen and (max-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003392}}
    .mainheader-container {
      margin: 0 -10px 0 -10px; } }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003399}}
.mainheader-content {
  max-width: 1180px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 884px 300px;
  background-color: #320C0F; }
  @media only screen and (max-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003399}}
    .mainheader-content {
      grid-template-columns: auto;
      height: 100px; } }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003410}}
.mainheader-logo {
  margin: -177px 0 0 0;
  display: block; }
  @media only screen and (max-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003410}}
    .mainheader-logo {
      display: none; } }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003418}}
.mainheader-logo_mobile {
  display: none; }
  @media only screen and (max-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003418}}
    .mainheader-logo_mobile {
      display: block;
      margin: -70px 0 0 20px; } }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003426}}
.mainheader-navigation {
  margin: 140px 0 38px 0; }
  @media only screen and (max-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003426}}
    .mainheader-navigation {
      margin: 0 auto;
      height: 70px; } }
  @media only screen and (max-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003433}}
    .mainheader-navigation nav {
      display: none; } }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003438}}
  .mainheader-navigation nav li {
    display: inline; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003441}}
    .mainheader-navigation nav li a {
      padding: 5px 13px 5px 11px;
      margin: 0 35px 0px -10px;
      text-decoration: none;
      font-size: 14px;
      color: #fff; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003449}}
    .mainheader-navigation nav li a:hover {
      border: 1px solid #fff;
      border-radius: 3px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003457}}
.mainheader-address_container {
  border-left: 3px solid #fff;
  font-weight: bold;
  margin: 52px 0 82px -51px;
  padding-left: 25px; }
  @media only screen and (max-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003457}}
    .mainheader-address_container {
      display: none; } }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003467}}
.mainheader-image {
  display: block;
  margin: 0 0 -28px -68px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003472}}
.mainheader-address_container p:nth-child(2) {
  color: #fff;
  font-weight: 400;
  padding-top: 2px;
  font-size: 14px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003479}}
.mainheader-address_container p:nth-child(3) {
  margin: 0 0 -20px 0;
  padding: 6px 0 10px 0;
  color: #fff;
  font-size: 17px;
  font-weight: bold; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003493}}
.history-header {
  margin: 73px 0 40px 362px;
  font-size: 41px;
  font-weight: 400;
  color: #320C0F; }
  @media only screen and (max-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003493}}
    .history-header {
      margin: 40px 0 10px -3px;
      font-size: 35px; } }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003504}}
.history-container {
  max-width: 1180px;
  margin: 0 auto;
  padding-bottom: 100px;
  display: grid;
  grid-column-gap: 30px;
  grid-template-columns: 590px 550px; }
  @media only screen and (max-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003504}}
    .history-container {
      grid-template-columns: auto;
      padding-bottom: 50px; } }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003516}}
.history-lead h3 {
  font-size: 20px;
  padding-bottom: 16px;
  font-weight: 500;
  line-height: 1.2;
  color: #330D10; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003524}}
.history-copy p {
  line-height: 1.6;
  font-size: 13px;
  color: #6C6C6C;
  padding-top: 21px;
  font-weight: 600; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003532}}
.history-copy img {
  display: none; }
  @media only screen and (max-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003532}}
    .history-copy img {
      margin: 0 auto;
      padding-top: 20px;
      display: block;
      width: 100%;
      height: auto; } }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003543}}
.history-copy p:nth-child(6) {
  display: none; }
  @media only screen and (max-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003543}}
    .history-copy p:nth-child(6) {
      display: block;
      text-align: center; } }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003551}}
.history-lead_small p:nth-child(1) {
  line-height: 1.6;
  padding: 65px 0 27px 0;
  font-size: 16px; }
  @media only screen and (max-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003551}}
    .history-lead_small p:nth-child(1) {
      padding: 30px 0 17px 0;
      line-height: 1.4;
      font-size: 15px; } }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003562}}
.history-lead_small p:nth-child(2) {
  line-height: 1.7;
  padding: 0 0 27px 0;
  font-size: 16px; }
  @media only screen and (max-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003562}}
    .history-lead_small p:nth-child(2) {
      padding-bottom: 17px;
      line-height: 1.4;
      font-size: 15px; } }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003572}}
  .history-lead_small p:nth-child(2) a:hover {
    color: red; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003578}}
.history-lead_small p:nth-child(3) {
  line-height: 1.4;
  font-size: 15px;
  padding-bottom: 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003583}}
  .history-lead_small p:nth-child(3) a:hover {
    color: red; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003588}}
.history-link {
  color: #C7000F; }
@media only screen and (max-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003592}}
  .history-imagecontainer {
    display: none; } }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003597}}
.history-imagecontainer img {
  padding: 5px 0 0 30px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003601}}
.history-imagecontainer p {
  margin: -14px 0 0 40px;
  font-size: 13px;
  color: #5D5D5D; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003614}}
.galery-container {
  width: 1780px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  padding: 0 0 50px 0; }
  @media only screen and (max-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003614}}
    .galery-container {
      display: none; } }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003634}}
.silvester-container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 58px 0 70px 0;
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 64px; }
  @media only screen and (max-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003634}}
    .silvester-container {
      grid-template-columns: auto;
      grid-column-gap: 10px;
      padding: 50px 0 30px 0; } }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003646}}
  .silvester-container img {
    width: 100%;
    height: auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003652}}
.silvester-content {
  margin: 122px 0 0 -1px; }
  @media only screen and (max-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003652}}
    .silvester-content {
      margin: 20px 0 0 0; } }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003659}}
.silvester-header {
  text-decoration: none;
  font-size: 54px;
  font-weight: 500;
  color: #320C0F; }
  @media only screen and (max-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003659}}
    .silvester-header {
      font-size: 35px;
      padding-bottom: 15px;
      display: block;
      text-align: center; } }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003673}}
.silvester-content a:hover {
  color: red; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003677}}
.silvester-content p {
  padding: 27px 92px 0 0;
  color: #686868;
  font-size: 15px;
  line-height: 1.8;
  letter-spacing: 0.5px; }
  @media only screen and (max-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003677}}
    .silvester-content p {
      padding: 0 0 15px 0;
      line-height: 1.5;
      letter-spacing: 0.2px;
      text-align: center;
      font-size: 14px; } }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003693}}
.silvester-link {
  display: block;
  margin: 46px 259px 0 0;
  padding: 0 0 15px 0;
  color: #C7000F;
  text-decoration: none;
  border-bottom: 1px solid #C7000F;
  font-size: 18px;
  font-weight: bold; }
  @media only screen and (max-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003693}}
    .silvester-link {
      margin: 0 90px 0 90px;
      padding-bottom: 9px;
      text-align: center;
      font-size: 16px; } }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003711}}
.teaser_with_image_small {
  display: grid;
  grid-template-columns: 220px 467px;
  grid-column-gap: 20px; }
  @media only screen and (max-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003711}}
    .teaser_with_image_small {
      grid-template-columns: auto; } }
  @media only screen and (max-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003719}}
    .teaser_with_image_small-image {
      display: block;
      margin: 0 auto;
      padding: 30px 0 15px 0; } }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003727}}
  .teaser_with_image_small p:nth-child(2) {
    padding-bottom: 20px;
    color: #565656;
    font-size: 13px;
    line-height: 1.6; }
    @media only screen and (max-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003727}}
      .teaser_with_image_small p:nth-child(2) {
        font-size: 12px;
        text-align: center; } }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003738}}
  .teaser_with_image_small p:nth-child(3) {
    color: #565656;
    font-size: 13px;
    line-height: 1.6; }
    @media only screen and (max-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003738}}
      .teaser_with_image_small p:nth-child(3) {
        font-size: 12px;
        text-align: center; } }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003748}}
  .teaser_with_image_small-container {
    max-width: 662px;
    margin: 0 auto;
    display: grid;
    grid-row-gap: 58px;
    padding: 100px 0 200px 0; }
    @media only screen and (max-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003748}}
      .teaser_with_image_small-container {
        padding: 20px 0 100px 0;
        grid-row-gap: 20px; } }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003760}}
  .teaser_with_image_small-header {
    padding-bottom: 17px;
    font-size: 28px;
    color: #320C0F;
    font-weight: 500; }
    @media only screen and (max-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003760}}
      .teaser_with_image_small-header {
        text-align: center;
        font-size: 26px; } }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003772}}
  .teaser_with_image_small-link {
    margin-top: 47px;
    display: block;
    color: #C7000F;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: -0.7px; }
    @media only screen and (max-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003772}}
      .teaser_with_image_small-link {
        margin-top: 25px;
        text-align: center; } }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003785}}
  .teaser_with_image_small a:hover {
    color: red; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003793}}
.events_detail-container {
  display: grid;
  grid-column-gap: 97px;
  grid-template-columns: 266px 532px 910px;
  margin-bottom: 230px; }
  @media only screen and (max-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003793}}
    .events_detail-container {
      grid-template-columns: auto;
      margin: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003801}}
      .events_detail-container div:nth-child(3) {
        display: none; } }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003806}}
  .events_detail-container h2 {
    margin: 71px 0 42px 0;
    font-size: 42px;
    color: #320C0F;
    font-weight: 500; }
    @media only screen and (max-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003806}}
      .events_detail-container h2 {
        margin: 35px 0 30px 0; } }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003816}}
  .events_detail-container p:nth-child(2) {
    color: #320C0F;
    font-size: 20px;
    padding-bottom: 32px;
    line-height: 1.6;
    letter-spacing: -0.2px; }
    @media only screen and (max-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003816}}
      .events_detail-container p:nth-child(2) {
        font-size: 18px;
        padding-bottom: 27px; } }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003828}}
  .events_detail-container p {
    padding-bottom: 34px;
    line-height: 1.7;
    font-size: 15px;
    letter-spacing: 0.1px; }
    @media only screen and (max-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003828}}
      .events_detail-container p {
        padding-bottom: 20px;
        font-size: 14px; } }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003839}}
  .events_detail-container a:nth-child(1) {
    margin: 145px -43px 0px 0;
    float: right;
    color: #3B58AE;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px; }
    @media only screen and (max-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003839}}
      .events_detail-container a:nth-child(1) {
        margin: 20px 0 0 0;
        float: left; } }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003851}}
    .events_detail-container a:nth-child(1) img {
      display: inline-block;
      margin-bottom: -4px;
      padding: 4px 12px 0 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003859}}
.events_detail-link {
  display: block;
  margin: 27px 186px 0 0;
  padding: 0 0 15px 0;
  text-decoration: none;
  border-bottom: 1px solid #C7000F;
  font-size: 20px;
  font-weight: bold;
  color: #C7000F; }
  @media only screen and (max-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003859}}
    .events_detail-link {
      margin: 10px 90px 30px 90px;
      padding-bottom: 9px;
      text-align: center;
      font-size: 16px; } }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003880}}
.content-container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 71px 0 100px 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003885}}
.content-header {
  margin-bottom: 66px;
  font-size: 42px;
  font-weight: 500;
  color: #330D10; }
  @media only screen and (max-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003885}}
    .content-header {
      font-size: 35px; } }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003897}}
.unser_team-basilico {
  float: right;
  margin: 23px 32px 0 0; }
  @media only screen and (max-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003897}}
    .unser_team-basilico {
      display: none; } }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003905}}
.unser_team-content {
  display: grid;
  grid-template-columns: 300px 600px; }
  @media only screen and (max-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003905}}
    .unser_team-content {
      grid-template-columns: auto; } }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003913}}
.unser_team-content:nth-child(even) {
  margin-left: 290px; }
  @media only screen and (max-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003913}}
    .unser_team-content:nth-child(even) {
      margin: 0; } }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003920}}
.unser_team-data {
  margin: 92px 15px 0 37px;
  color: #330D10; }
  @media only screen and (max-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003920}}
    .unser_team-data {
      margin: 0 0 0 18px; } }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003928}}
.unser_team-header {
  padding-bottom: 4px;
  font-size: 26px;
  font-weight: 500; }
  @media only screen and (max-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003928}}
    .unser_team-header {
      font-size: 16px; } }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003937}}
.unser_team-data p:nth-child(2) {
  padding-bottom: 30px;
  font-size: 13px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003942}}
.unser_team-data p:last-child {
  border-left: 5px solid #3B58AE;
  padding: 11px 0 19px 22px;
  line-height: 1.5;
  font-size: 14px; }
  @media only screen and (max-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003942}}
    .unser_team-data p:last-child {
      padding: 6px 0 7px 15px;
      font-size: 13px; } }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003953}}
.unser_team-image {
  margin-bottom: -4px; }
  @media only screen and (max-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003956}}
    .unser_team-image img {
      width: 100%;
      height: auto; } }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003967}}
.events-container {
  max-width: 1180px;
  margin: 0 auto;
  display: grid; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003973}}
.news-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 54px;
  padding: 80px 0 130px 0; }
  @media only screen and (max-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003973}}
    .news-container {
      grid-template-columns: auto;
      padding: 40px 0 60px 0; } }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003984}}
.news-header {
  margin-top: -5px;
  font-size: 40px;
  width: 400px;
  font-weight: 500;
  color: #330D10; }
  @media only screen and (max-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003984}}
    .news-header {
      margin: 0;
      width: auto;
      font-size: 35px; } }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003997}}
.news-content p:nth-child(2) {
  font-size: 16px;
  padding: 45px 0 30px 0;
  line-height: 1.5;
  color: #4A4A4A; }
  @media only screen and (max-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\00003997}}
    .news-content p:nth-child(2) {
      font-size: 15px;
      padding: 20px 0 15px 0; } }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\000031008}}
.news-content p:nth-child(3) {
  font-size: 15px;
  line-height: 1.5;
  color: #4A4A4A; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\000031014}}
.news-content p:nth-child(4) {
  padding: 30px 0 0 0;
  font-size: 16px;
  line-height: 1.5;
  color: #4A4A4A; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\000031021}}
.news-image_container {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 1px;
  grid-row-gap: 1px; }
  @media only screen and (max-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\000031021}}
    .news-image_container {
      display: none; } }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\000031031}}
.news-border {
  border-bottom: 10px solid #AEAEAE; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\000031040}}
.container-content {
  max-width: 1180px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 310px 630px;
  grid-column-gap: 240px; }
  @media only screen and (max-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\000031040}}
    .container-content {
      grid-template-columns: auto; } }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\000031050}}
.container-header {
  padding: 70px 0 17px 0;
  font-size: 41px;
  font-weight: 500;
  color: #330D10; }
  @media only screen and (max-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\000031050}}
    .container-header {
      padding: 38px 0 17px 0;
      font-size: 36px;
      margin: 0 auto; } }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\000031065}}
.data-container {
  color: #330D10;
  display: grid;
  grid-row-gap: 27px; }
  @media only screen and (max-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\000031065}}
    .data-container {
      margin: 0 auto; } }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\000031074}}
.data-copy {
  font-weight: 600; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\000031078}}
.data-content {
  display: grid;
  grid-template-columns: 40px 200px;
  grid-column-gap: 12px; }
  @media only screen and (max-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\000031078}}
    .data-content {
      margin: 0 auto;
      grid-template-columns: 40px 176px; } }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\000031087}}
  .data-content p {
    font-size: 15px;
    line-height: 1.6; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\000031092}}
  .data-content a {
    color: #330D10;
    line-height: 2.0;
    font-size: 14px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\000031098}}
  .data-content a:hover {
    color: #3B58AE; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\000031103}}
.data-header {
  padding: 0 0 5px 0;
  font-size: 13px;
  font-weight: 500;
  color: #9B9B9B; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\000031110}}
.data-image {
  margin: 25px 0 0 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\000031117}}
.reservation_form-header {
  padding: 75px 0 17px 0;
  font-size: 34px;
  font-weight: 500;
  color: #330D10; }
  @media only screen and (max-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\000031117}}
    .reservation_form-header {
      padding: 40px 0 20px 0;
      text-align: center;
      font-size: 32px; } }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\000031129}}
.reservation_form-box {
  display: grid;
  grid-row-gap: 20px; }
  @media only screen and (max-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\000031129}}
    .reservation_form-box {
      margin-bottom: 40px; } }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\000031135}}
  .reservation_form-box input {
    width: 30%;
    padding: 10px 0 10px 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\000031143}}
.openinghours-header {
  font-weight: 500;
  padding: 50px 0 15px;
  font-size: 26px; }
  @media only screen and (max-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\000031143}}
    .openinghours-header {
      padding: 20px 0 0 0;
      margin: 0 auto;
      font-size: 28px; } }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\000031154}}
.openinghours-container {
  display: grid;
  grid-column-gap: 35px;
  grid-template-columns: 115px 120px;
  border-left: 1px solid #3B58AE;
  padding-left: 40px;
  margin: 0 0 130px 0; }
  @media only screen and (max-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\000031154}}
    .openinghours-container {
      margin: 0 auto; } }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\000031165}}
  .openinghours-container ul {
    list-style: none;
    margin: -5px 0 0 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\000031169}}
    .openinghours-container ul li {
      padding: 5px 0 0 0;
      font-size: 15px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\000031178}}
.address-container {
  max-width: 1170px;
  margin: 0 auto;
  padding-bottom: 70px;
  display: grid;
  grid-template-columns: 700px 70px;
  grid-column-gap: 400px; }
  @media only screen and (max-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\000031178}}
    .address-container {
      padding-bottom: 30px;
      grid-template-columns: auto;
      grid-row-gap: 40px; } }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\000031191}}
  .address-container p {
    padding: 0 0 16px 7px;
    color: #330D10;
    font-size: 15px; }
    @media only screen and (max-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\000031191}}
      .address-container p {
        text-align: center; } }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\000031200}}
  .address-container a {
    padding: 0 0 20px 7px;
    color: #330D10;
    line-height: 1.5;
    font-size: 15px; }
    @media only screen and (max-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\000031200}}
      .address-container a {
        display: block;
        text-align: center;
        font-size: 14px; } }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\000031212}}
  .address-container a:hover {
    color: #3B58AE; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\000031217}}
  .address-container div:nth-child(1) img {
    margin: 20px 0 0 -5px; }
    @media only screen and (max-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\000031217}}
      .address-container div:nth-child(1) img {
        margin: 0 auto;
        width: 100%;
        height: auto; } }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\000031228}}
  .address-container div:nth-child(2) img {
    padding: 530px 0 0 14px; }
    @media only screen and (max-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\000031228}}
      .address-container div:nth-child(2) img {
        padding: 0;
        display: block;
        margin: 0 auto; } }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\000031241}}
.address-header {
  margin: 0 0 35px 7px;
  color: #330D10;
  font-weight: 500;
  font-size: 26px; }
  @media only screen and (max-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\000031241}}
    .address-header {
      text-align: center;
      margin: 0 0 20px 0; } }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\000031256}}
.main-container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 70px 0 100px 0; }
  @media only screen and (max-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\000031256}}
    .main-container {
      padding: 0 0 50px 0; } }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\000031264}}
.lunch_card {
  margin-bottom: 63px; }
  @media only screen and (max-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\000031264}}
    .lunch_card {
      margin-bottom: 40px; } }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\000031270}}
  .lunch_card table {
    width: 100%;
    border-collapse: collapse; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\000031274}}
    .lunch_card table tr:nth-child(odd) {
      font-size: 17px;
      color: #330D10; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\000031278}}
      .lunch_card table tr:nth-child(odd) td {
        padding: 21px 0 3px 0;
        font-size: 15px;
        border-bottom: 1px dotted #7B7B7B; }
        @media only screen and (max-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\000031278}}
          .lunch_card table tr:nth-child(odd) td {
            padding: 10px 0 3px 0;
            font-size: 14px; } }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\000031288}}
      .lunch_card table tr:nth-child(odd) td:nth-child(even) {
        color: #3B58AE;
        font-weight: bold;
        text-align: right;
        font-size: 16px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\000031296}}
    .lunch_card table tr:nth-child(even) {
      font-size: 13px;
      color: #7B7B7B; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\000031300}}
      .lunch_card table tr:nth-child(even) td {
        padding-top: 6px;
        font-size: 11px; }
        @media only screen and (max-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\000031300}}
          .lunch_card table tr:nth-child(even) td {
            font-size: 10px; } }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\000031310}}
  .lunch_card-main_header {
    margin-bottom: 46px;
    font-size: 42px;
    font-weight: 500;
    color: #330D10; }
    @media only screen and (max-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\000031310}}
      .lunch_card-main_header {
        margin: 40px 0 10px -3px;
        font-size: 35px; } }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\000031321}}
  .lunch_card-box {
    display: grid;
    grid-template-columns: 284px 598px 300px; }
    @media only screen and (max-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\000031321}}
      .lunch_card-box {
        grid-template-columns: auto; } }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\000031329}}
  .lunch_card-header {
    margin-bottom: 17px;
    font-size: 35px;
    font-weight: 500;
    color: #330D10; }
    @media only screen and (max-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\000031329}}
      .lunch_card-header {
        margin-bottom: 5px; } }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\000031339}}
  .lunch_card-container p {
    margin-bottom: 72px;
    font-size: 14px;
    color: #330D10; }
    @media only screen and (max-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\000031339}}
      .lunch_card-container p {
        margin-bottom: 45px;
        font-size: 13px; } }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\000031349}}
  .lunch_card-table_header {
    font-size: 22px;
    color: #330D10; }
    @media only screen and (max-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\000031349}}
      .lunch_card-table_header {
        font-size: 21px; } }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\000031357}}
  .lunch_card-image {
    margin: -9px 0 0px 41px; }
    @media only screen and (max-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\000031357}}
      .lunch_card-image {
        margin: 0 auto; } }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\000031364}}
  .lunch_card-menu {
    margin: 161px 0 0 0;
    border-left: 5px solid #3B58AE; }
    @media only screen and (max-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\000031364}}
      .lunch_card-menu {
        margin: 30px 0 40px 0; } }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\000031371}}
    .lunch_card-menu div {
      margin: 0 0 0 17px;
      padding: 4px 0 14px 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\000031376}}
    .lunch_card-menu a {
      padding: 7px 11px 7px 11px;
      text-decoration: none;
      color: #330D10;
      border-radius: 4px;
      font-size: 14px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\000031384}}
    .lunch_card-menu a:hover {
      background-color: #757575;
      color: #fff; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\000031395}}
.facility_box {
  margin: 0 0 50px 0;
  border-left: 5px solid #3B58AE;
  padding: 0 0 0 36px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\000031400}}
  .facility_box table {
    width: 38%;
    display: inline-table;
    margin: -10px 0 -12px 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\000031406}}
  .facility_box p {
    font-size: 15px;
    padding: 0 0 16px 0;
    color: #4A4A4A; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\000031412}}
  .facility_box td {
    font-size: 16px;
    padding: 0 0 10px 0;
    color: #4A4A4A; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\000031418}}
  .facility_box td:nth-child(even) {
    font-weight: bold; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\000031422}}
  .facility_box-container {
    max-width: 1180px;
    margin: 0 auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\000031426}}
  .facility_box-content {
    margin: 76px 0 76px 0;
    display: grid;
    grid-template-columns: 590px 590px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\000031431}}
    .facility_box-content h3 {
      margin: 0 0 34px 0;
      font-size: 27px;
      font-weight: 500;
      color: #330D10; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\000031438}}
    .facility_box-content h2 {
      margin: -5px 0 47px 0;
      font-size: 41px;
      font-weight: 500;
      color: #330D10; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Kristina\/Desktop\/PROJECTS\/al-andalus\/src\/main\.scss}line{font-family:\000031448}}
.box_image-wrap {
  display: grid;
  grid-template-columns: 295px 295px;
  grid-row-gap: 1px;
  grid-column-gap: 1px; }

/*# sourceMappingURL=main.css.map */