* {
  padding: 0;
  margin: 0;
  font-family: 'Playfair Display', serif;
}


$container-width: 1180px;
$break-mobile: 600px;

@mixin container() {
  max-width: $container-width;
  margin: 0 auto;
}


body {
  @media only screen and (max-width: $break-mobile) {
    padding: 0 10px 0 10px;
  }
}

// Main

.main-header {
  background-image: url("../assets/image-main.png");
  height: 1010px;
  @media only screen and (max-width: $break-mobile) {
    background-image: url("../assets/image-main1.png");
    margin: 0 -10px 0 -10px;
    height: 580px;
  }
}

.mainnavigation {
  &-logo {
    margin: 23px 0 40px 0;
    @media only screen and (max-width: $break-mobile) {
      display: none;
    }
  }

  &-logo_mobile {
    display: none;
    @media only screen and (max-width: $break-mobile) {
      display: inline-block;
      padding: 30px 0 0 10px;
    }
  }

  &-container {
    @include container();

    nav {
      @media only screen and (max-width: $break-mobile) {
        display: none;
      }
    }

    li {
      display: inline;

      a {
        padding: 5px 10px 5px 11px;
        margin: 0 36px 0px -8px;
        text-decoration: none;
        font-size: 14px;
        color: #fff;
      }

      a:hover {
        border: 1px solid #fff;
        border-radius: 3px;
      }
    }

  }
}

.menu-toggle {
  display: none;
  color: #fff;
  float: right;
  cursor: pointer;
  @media only screen and (max-width: $break-mobile) {
    display: block;
    margin: 41px 25px 0 0;
  }
}

.mainimage {
  &-container {
    max-width: 1165px;
    margin: 0 auto;
    padding-top: 112px;
    color: #fff;
    @media only screen and (max-width: $break-mobile) {
      padding-top: 40px;
    }
  }

  &-headline {
    font-size: 60px;
    font-weight: 500;
    @media only screen and (max-width: $break-mobile) {
      font-size: 30px;
      margin: 16px 10px 29px 10px;
    }
  }

  &-copy {
    border-left: 3px solid #fff;
    margin: 118px 0 0 0;
    @media only screen and (max-width: $break-mobile) {
      display: none;
    }
  }

  &-copy-1 {
    display: inline-block;
    width: 410px;
    margin: -14px 0 0 45px;
    padding: 8px 0 5px 0;
    line-height: 1.6;
    font-size: 16px;
    @media only screen and (max-width: $break-mobile) {
      margin: -11px 0 15px 30px;
      font-size: 14px;
    }
  }

  &-copy-2 {
    padding: 30px 0 0 43px;
    line-height: 1.4;
    font-size: 18px;
    @media only screen and (max-width: $break-mobile) {
      padding: 0 0 0 30px;
      font-size: 15px;
    }
  }

  &-information {
    display: inline-block;
    border: 1px solid #fff;
    padding: 14px 35px 10px 38px;
    margin: 29px 0 4px 33px;
    font-size: 20px;
    @media only screen and (max-width: $break-mobile) {
      padding: 10px 25px 6px 28px;
      margin: 21px 0 4px 22px;
    }
  }

  &-information p:first-child {
    font-size: 18px;
    @media only screen and (max-width: $break-mobile) {
      font-size: 15px;
    }
  }

  &-information p:last-child {
    margin-top: -8px;
    font-size: 30px;
    font-weight: bold;
    @media only screen and (max-width: $break-mobile) {
      font-size: 26px;
    }
  }
}

// Willkommen im al-andalus

.willkommen {
  &-header {
    margin: -66px 0 40px 365px;
    font-size: 42px;
    font-weight: 500;
    color: #320C0F;
    @media only screen and (max-width: $break-mobile) {
      margin: 0 auto;
      padding: 0 0 30px 0;
      max-width: 500px;
      text-align: center;
      font-size: 38px;
    }
  }

  &-vanillaimage {
    width: 310px;
    margin: 0 auto;
    padding: 100px 0 40px 0;
  }
}

.teaser_with_image {
  &-container {
    margin: 0 auto;
    max-width: 1070px;
    display: grid;
    grid-template-columns: 300px 297px 300px;
    grid-column-gap: 100px;
    line-height: 1.2;
    font-size: 15px;
    @media only screen and (max-width: $break-mobile) {
      max-width: 500px;
      margin: 0 auto;
      grid-template-columns: auto;
    }

    p:nth-child(3) {
      padding-bottom: 18px;
      font-size: 13px;
      line-height: 1.5;
      letter-spacing: 0.2px;
      color: #272728;
      @media only screen and (max-width: $break-mobile) {
        padding-bottom: 38px;
        text-align: center;
        font-size: 14px;
      }
    }

    p:nth-child(4) {
      font-size: 13px;
      line-height: 1.5;
      letter-spacing: 0.2px;
      color: #272728;
      @media only screen and (max-width: $break-mobile) {
        margin: -28px 0 38px 0;
        font-size: 14px;
        text-align: center;
      }
    }
  }

  &-image {
    margin: 0 0 20px -50px;
    @media only screen and (max-width: $break-mobile) {
      display: block;
      margin: 0 auto;
      padding: 20px 0 15px 0;
    }
  }

  &-header {
    padding-bottom: 15px;
    font-size: 26px;
    color: #320C0F;
    font-weight: 500;
    @media only screen and (max-width: $break-mobile) {
      padding-bottom: 30px;
      text-align: center;
    }
  }

  &-link {
    margin-top: 20px;
    color: #C7000F;
    font-weight: bold;
    font-size: 14px;
    @media only screen and (max-width: $break-mobile) {
      margin: 0 auto;
      display: block;
      text-align: center;
    }
  }

  a:hover {
    color: #320C0F;
  }

  &-border {
    @include container();
    border-bottom: 10px solid #AEAEAE;
    padding: 100px 0 0 0;
  }
}

// Footer

.footer {
  &-container {
    background-color: #320C0F;
    @media only screen and (max-width: $break-mobile) {
      margin: 0 -10px 0 -10px;
    }
  }

  &-content {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 470px 530px 200px;
    @media only screen and (max-width: $break-mobile) {
      grid-template-columns: auto;
    }

    div:nth-child(1) {
      @media only screen and (max-width: $break-mobile) {
        margin: 0 auto;
      }
    }

    div:nth-child(2) {
      @media only screen and (max-width: $break-mobile) {
        margin: 0 auto;
      }
    }

    div:nth-child(2) a {
      font-size: 13px;
      display: block;
      margin: -37px 0 22px 0;
      color: #968384;
      @media only screen and (max-width: $break-mobile) {
        margin: 30px 0 22px 0;
        text-align: center;
      }
    }

    div:nth-child(3) {
      @media only screen and (max-width: $break-mobile) {
        margin: 0 auto;
      }
    }
  }

  &-information {
    padding: 0 0 0 20px;
    margin: 28px 0 57px 0;
    border-left: 3px solid #fff;
    display: inline-block;
  }

  &-information p:nth-child(2) {
    padding-top: -5px;
    margin: 5px 0 0 0;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
  }

  &-information p:nth-child(3) {
    margin: 0 0 -5px 0;
    padding: 8px 0 0 0;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
  }


  &-information a:hover {
    color: #fff;
  }

  &-addressmap {
    display: block;
    margin: 0 0 -30px -60px;
  }

  &-linkcontainer {
    float: right;
    margin-top: 110px;
    padding-top: 9px;
    font-size: 13px;
    color: #968384;
    @media only screen and (max-width: $break-mobile) {
      margin: 0;
      padding-bottom: 20px;
    }
  }

  &-linkcontainer a:hover {
    color: #fff;
  }

  &-restauranlogoimage {
    width: 150px;
    padding: 30px 0 0 0;
    @media only screen and (max-width: $break-mobile) {
      padding: 30px 0 20px 0;
    }
  }
}


// Restaurant html


// Main
.mainheader {
  &-container {
    background-color: #320C0F;
    @media only screen and (max-width: $break-mobile) {
      margin: 0 -10px 0 -10px;
    }
  }

  &-content {
    @include container();
    display: grid;
    grid-template-columns: 884px 300px;
    background-color: #320C0F;
    @media only screen and (max-width: $break-mobile) {
      grid-template-columns: auto;
      height: 100px;
    }
  }

  &-logo {
    margin: -177px 0 0 0;
    display: block;
    @media only screen and (max-width: $break-mobile) {
      display: none;
    }
  }

  &-logo_mobile {
    display: none;
    @media only screen and (max-width: $break-mobile) {
      display: block;
      margin: -70px 0 0 20px;
    }
  }

  &-navigation {
    margin: 140px 0 38px 0;
    @media only screen and (max-width: $break-mobile) {
      margin: 0 auto;
      height: 70px;
    }

    nav {
      @media only screen and (max-width: $break-mobile) {
        display: none;
      }

      li {
        display: inline;

        a {
          padding: 5px 13px 5px 11px;
          margin: 0 35px 0px -10px;
          text-decoration: none;
          font-size: 14px;
          color: #fff;
        }

        a:hover {
          border: 1px solid #fff;
          border-radius: 3px;
        }
      }
    }
  }

  &-address_container {
    border-left: 3px solid #fff;
    font-weight: bold;
    margin: 52px 0 82px -51px;
    padding-left: 25px;
    @media only screen and (max-width: $break-mobile) {
      display: none;
    }
  }

  &-image {
    display: block;
    margin: 0 0 -28px -68px;
  }

  &-address_container p:nth-child(2) {
    color: #fff;
    font-weight: 400;
    padding-top: 2px;
    font-size: 14px;
  }

  &-address_container p:nth-child(3) {
    margin: 0 0 -20px 0;
    padding: 6px 0 10px 0;
    color: #fff;
    font-size: 17px;
    font-weight: bold;
  }

}

// Content


.history {
  &-header {
    margin: 73px 0 40px 362px;
    font-size: 41px;
    font-weight: 400;
    color: #320C0F;
    @media only screen and (max-width: $break-mobile) {
      margin: 40px 0 10px -3px;
      font-size: 35px;
    }
  }

  &-container {
    @include container();
    padding-bottom: 100px;
    display: grid;
    grid-column-gap: 30px;
    grid-template-columns: 590px 550px;
    @media only screen and (max-width: $break-mobile) {
      grid-template-columns: auto;
      padding-bottom: 50px;
    }
  }

  &-lead h3 {
    font-size: 20px;
    padding-bottom: 16px;
    font-weight: 500;
    line-height: 1.2;
    color: #330D10;
  }

  &-copy p {
    line-height: 1.6;
    font-size: 13px;
    color: #6C6C6C;
    padding-top: 21px;
    font-weight: 600;
  }

  &-copy img {
    display: none;
    @media only screen and (max-width: $break-mobile) {
      margin: 0 auto;
      padding-top: 20px;
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &-copy p:nth-child(6) {
    display: none;
    @media only screen and (max-width: $break-mobile) {
      display: block;
      text-align: center;
    }
  }

  &-lead_small p:nth-child(1) {
    line-height: 1.6;
    padding: 65px 0 27px 0;
    font-size: 16px;
    @media only screen and (max-width: $break-mobile) {
      padding: 30px 0 17px 0;
      line-height: 1.4;
      font-size: 15px;
    }
  }

  &-lead_small p:nth-child(2) {
    line-height: 1.7;
    padding: 0 0 27px 0;
    font-size: 16px;
    @media only screen and (max-width: $break-mobile) {
      padding-bottom: 17px;
      line-height: 1.4;
      font-size: 15px;
    }

    a:hover {
      color: red;
    }

  }

  &-lead_small p:nth-child(3) {
    line-height: 1.4;
    font-size: 15px;
    padding-bottom: 20px;

    a:hover {
      color: red;
    }
  }

  &-link {
    color: #C7000F;
  }

  &-imagecontainer {
    @media only screen and (max-width: $break-mobile) {
      display: none;
    }

    img {
      padding: 5px 0 0 30px;
    }

    p {
      margin: -14px 0 0 40px;
      font-size: 13px;
      color: #5D5D5D;
    }
  }

}

//Galery


.galery {
  &-container {
    width: 1780px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    padding: 0 0 50px 0;
    @media only screen and (max-width: $break-mobile) {
      display: none;
    }
  }

}


// Actuele events html


//Content

.silvester {
  &-container {
    @include container();
    padding: 58px 0 70px 0;
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 64px;
    @media only screen and (max-width: $break-mobile) {
      grid-template-columns: auto;
      grid-column-gap: 10px;
      padding: 50px 0 30px 0;
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  &-content {
    margin: 122px 0 0 -1px;
    @media only screen and (max-width: $break-mobile) {
      margin: 20px 0 0 0;
    }
  }

  &-header {
    text-decoration: none;
    font-size: 54px;
    font-weight: 500;
    color: #320C0F;
    @media only screen and (max-width: $break-mobile) {
      font-size: 35px;
      padding-bottom: 15px;
      display: block;
      text-align: center;
    }
  }

  &-content {
    a:hover {
      color: red;
    }

    p {
      padding: 27px 92px 0 0;
      color: #686868;
      font-size: 15px;
      line-height: 1.8;
      letter-spacing: 0.5px;
      @media only screen and (max-width: $break-mobile) {
        padding: 0 0 15px 0;
        line-height: 1.5;
        letter-spacing: 0.2px;
        text-align: center;
        font-size: 14px;
      }
    }
  }

  &-link {
    display: block;
    margin: 46px 259px 0 0;
    padding: 0 0 15px 0;
    color: #C7000F;
    text-decoration: none;
    border-bottom: 1px solid #C7000F;
    font-size: 18px;
    font-weight: bold;
    @media only screen and (max-width: $break-mobile) {
      margin: 0 90px 0 90px;
      padding-bottom: 9px;
      text-align: center;
      font-size: 16px;
    }
  }
}

.teaser_with_image_small {
  display: grid;
  grid-template-columns: 220px 467px;
  grid-column-gap: 20px;
  @media only screen and (max-width: $break-mobile) {
    grid-template-columns: auto;
  }

  &-image {
    @media only screen and (max-width: $break-mobile) {
      display: block;
      margin: 0 auto;
      padding: 30px 0 15px 0;
    }
  }

  p:nth-child(2) {
    padding-bottom: 20px;
    color: #565656;
    font-size: 13px;
    line-height: 1.6;
    @media only screen and (max-width: $break-mobile) {
      font-size: 12px;
      text-align: center;
    }
  }

  p:nth-child(3) {
    color: #565656;
    font-size: 13px;
    line-height: 1.6;
    @media only screen and (max-width: $break-mobile) {
      font-size: 12px;
      text-align: center;
    }
  }

  &-container {
    max-width: 662px;
    margin: 0 auto;
    display: grid;
    grid-row-gap: 58px;
    padding: 100px 0 200px 0;
    @media only screen and (max-width: $break-mobile) {
      padding: 20px 0 100px 0;
      grid-row-gap: 20px;
    }
  }

  &-header {
    padding-bottom: 17px;
    font-size: 28px;
    color: #320C0F;
    font-weight: 500;
    @media only screen and (max-width: $break-mobile) {
      text-align: center;
      font-size: 26px;
    }
  }


  &-link {
    margin-top: 47px;
    display: block;
    color: #C7000F;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: -0.7px;
    @media only screen and (max-width: $break-mobile) {
      margin-top: 25px;
      text-align: center;
    }
  }

  a:hover {
    color: red;
  }
}

// Actuele events detail container

.events_detail {
  &-container {
    display: grid;
    grid-column-gap: 97px;
    grid-template-columns: 266px 532px 910px;
    margin-bottom: 230px;
    @media only screen and (max-width: $break-mobile) {
      grid-template-columns: auto;
      margin: 0;
      div:nth-child(3) {
        display: none;
      }
    }

    h2 {
      margin: 71px 0 42px 0;
      font-size: 42px;
      color: #320C0F;
      font-weight: 500;
      @media only screen and (max-width: $break-mobile) {
        margin: 35px 0 30px 0;
      }
    }

    p:nth-child(2) {
      color: #320C0F;
      font-size: 20px;
      padding-bottom: 32px;
      line-height: 1.6;
      letter-spacing: -0.2px;
      @media only screen and (max-width: $break-mobile) {
        font-size: 18px;
        padding-bottom: 27px;
      }
    }

    p {
      padding-bottom: 34px;
      line-height: 1.7;
      font-size: 15px;
      letter-spacing: 0.1px;
      @media only screen and (max-width: $break-mobile) {
        padding-bottom: 20px;
        font-size: 14px;
      }
    }

    a:nth-child(1) {
      margin: 145px -43px 0px 0;
      float: right;
      color: #3B58AE;
      text-decoration: none;
      font-weight: 600;
      font-size: 14px;
      @media only screen and (max-width: $break-mobile) {
        margin: 20px 0 0 0;
        float: left;
      }

      img {
        display: inline-block;
        margin-bottom: -4px;
        padding: 4px 12px 0 0;
      }
    }
  }

  &-link {
    display: block;
    margin: 27px 186px 0 0;
    padding: 0 0 15px 0;
    text-decoration: none;
    border-bottom: 1px solid #C7000F;
    font-size: 20px;
    font-weight: bold;
    color: #C7000F;
    @media only screen and (max-width: $break-mobile) {
      margin: 10px 90px 30px 90px;
      padding-bottom: 9px;
      text-align: center;
      font-size: 16px;
    }
  }
}

// Unser Team

.content {
  &-container {
    @include container();
    padding: 71px 0 100px 0;
  }

  &-header {
    margin-bottom: 66px;
    font-size: 42px;
    font-weight: 500;
    color: #330D10;
    @media only screen and (max-width: $break-mobile) {
      font-size: 35px;
    }
  }
}

.unser_team {
  &-basilico {
    float: right;
    margin: 23px 32px 0 0;
    @media only screen and (max-width: $break-mobile) {
      display: none;
    }
  }

  &-content {
    display: grid;
    grid-template-columns: 300px 600px;
    @media only screen and (max-width: $break-mobile) {
      grid-template-columns: auto;
    }
  }

  &-content:nth-child(even) {
    margin-left: 290px;
    @media only screen and (max-width: $break-mobile) {
      margin: 0;
    }
  }

  &-data {
    margin: 92px 15px 0 37px;
    color: #330D10;
    @media only screen and (max-width: $break-mobile) {
      margin: 0 0 0 18px;
    }
  }

  &-header {
    padding-bottom: 4px;
    font-size: 26px;
    font-weight: 500;
    @media only screen and (max-width: $break-mobile) {
      font-size: 16px;
    }
  }

  &-data p:nth-child(2) {
    padding-bottom: 30px;
    font-size: 13px;
  }

  &-data p:last-child {
    border-left: 5px solid #3B58AE;
    padding: 11px 0 19px 22px;
    line-height: 1.5;
    font-size: 14px;
    @media only screen and (max-width: $break-mobile) {
      padding: 6px 0 7px 15px;
      font-size: 13px;
    }
  }

  &-image {
    margin-bottom: -4px;
    @media only screen and (max-width: $break-mobile) {
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}


// Grosse Events Para El Recuerdo

.events-container {
  @include container();
  display: grid;
}

.news {
  &-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 54px;
    padding: 80px 0 130px 0;
    @media only screen and (max-width: $break-mobile) {
      grid-template-columns: auto;
      padding: 40px 0 60px 0;
    }
  }

  &-header {
    margin-top: -5px;
    font-size: 40px;
    width: 400px;
    font-weight: 500;
    color: #330D10;
    @media only screen and (max-width: $break-mobile) {
      margin: 0;
      width: auto;
      font-size: 35px;
    }
  }

  &-content p:nth-child(2) {
    font-size: 16px;
    padding: 45px 0 30px 0;
    line-height: 1.5;
    color: #4A4A4A;
    @media only screen and (max-width: $break-mobile) {
      font-size: 15px;
      padding: 20px 0 15px 0;
    }
  }

  &-content p:nth-child(3) {
    font-size: 15px;
    line-height: 1.5;
    color: #4A4A4A;
  }

  &-content p:nth-child(4) {
    padding: 30px 0 0 0;
    font-size: 16px;
    line-height: 1.5;
    color: #4A4A4A;
  }

  &-image_container {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 1px;
    grid-row-gap: 1px;
    @media only screen and (max-width: $break-mobile) {
      display: none;
    }
  }

  &-border {
    border-bottom: 10px solid #AEAEAE;
  }
}

// Kontakt


.container {
  &-content {
    @include container();
    display: grid;
    grid-template-columns: 310px 630px;
    grid-column-gap: 240px;
    @media only screen and (max-width: $break-mobile) {
      grid-template-columns: auto;
    }
  }

  &-header {
    padding: 70px 0 17px 0;
    font-size: 41px;
    font-weight: 500;
    color: #330D10;
    @media only screen and (max-width: $break-mobile) {
      padding: 38px 0 17px 0;
      font-size: 36px;
      margin: 0 auto;
    }
  }
}

.data {

  &-container {
    color: #330D10;
    display: grid;
    grid-row-gap: 27px;
    @media only screen and (max-width: $break-mobile) {
      margin: 0 auto;
    }
  }

  &-copy {
    font-weight: 600;
  }

  &-content {
    display: grid;
    grid-template-columns: 40px 200px;
    grid-column-gap: 12px;
    @media only screen and (max-width: $break-mobile) {
      margin: 0 auto;
      grid-template-columns: 40px 176px;
    }

    p {
      font-size: 15px;
      line-height: 1.6;
    }

    a {
      color: #330D10;
      line-height: 2.0;
      font-size: 14px;
    }

    a:hover {
      color: #3B58AE;
    }
  }

  &-header {
    padding: 0 0 5px 0;
    font-size: 13px;
    font-weight: 500;
    color: #9B9B9B;
  }

  &-image {
    margin: 25px 0 0 0;
  }

}

.reservation_form {
  &-header {
    padding: 75px 0 17px 0;
    font-size: 34px;
    font-weight: 500;
    color: #330D10;
    @media only screen and (max-width: $break-mobile) {
      padding: 40px 0 20px 0;
      text-align: center;
      font-size: 32px;
    }
  }

  &-box {
    display: grid;
    grid-row-gap: 20px;
    @media only screen and (max-width: $break-mobile) {
      margin-bottom: 40px;
    }
    input {
      width: 30%;
      padding: 10px 0 10px 0;
    }
  }
}

.openinghours {
  &-header {
    font-weight: 500;
    padding: 50px 0 15px;
    font-size: 26px;
    @media only screen and (max-width: $break-mobile) {
      padding: 20px 0 0 0;
      margin: 0 auto;
      font-size: 28px;
    }
  }

  &-container {
    display: grid;
    grid-column-gap: 35px;
    grid-template-columns: 115px 120px;
    border-left: 1px solid #3B58AE;
    padding-left: 40px;
    margin: 0 0 130px 0;
    @media only screen and (max-width: $break-mobile) {
      margin: 0 auto;
    }

    ul {
      list-style: none;
      margin: -5px 0 0 0;

      li {
        padding: 5px 0 0 0;
        font-size: 15px;
      }
    }
  }
}

.address {
  &-container {
    max-width: 1170px;
    margin: 0 auto;
    padding-bottom: 70px;
    display: grid;
    grid-template-columns: 700px 70px;
    grid-column-gap: 400px;
    @media only screen and (max-width: $break-mobile) {
      padding-bottom: 30px;
      grid-template-columns: auto;
      grid-row-gap: 40px;
    }

    p {
      padding: 0 0 16px 7px;
      color: #330D10;
      font-size: 15px;
      @media only screen and (max-width: $break-mobile) {
        text-align: center;
      }
    }

    a {
      padding: 0 0 20px 7px;
      color: #330D10;
      line-height: 1.5;
      font-size: 15px;
      @media only screen and (max-width: $break-mobile) {
        display: block;
        text-align: center;
        font-size: 14px;
      }
    }

    a:hover {
      color: #3B58AE;
    }

    div:nth-child(1) {
      img {
        margin: 20px 0 0 -5px;
        @media only screen and (max-width: $break-mobile) {
          margin: 0 auto;
          width: 100%;
          height: auto;
        }
      }
    }

    div:nth-child(2) {
      img {
        padding: 530px 0 0 14px;
        @media only screen and (max-width: $break-mobile) {
          padding: 0;
          display: block;
          margin: 0 auto;
        }
      }
    }


  }

  &-header {
    margin: 0 0 35px 7px;
    color: #330D10;
    font-weight: 500;
    font-size: 26px;
    @media only screen and(max-width: $break-mobile) {
      text-align: center;
      margin: 0 0 20px 0;
    }
  }
}


// Speisekarte neu mittags

.main-container {
  @include container();
  padding: 70px 0 100px 0;
  @media only screen and (max-width: $break-mobile) {
    padding: 0 0 50px 0;
  }
}

.lunch_card {
  margin-bottom: 63px;
  @media only screen and (max-width: $break-mobile) {
    margin-bottom: 40px;
  }

  table {
    width: 100%;
    border-collapse: collapse;

    tr:nth-child(odd) {
      font-size: 17px;
      color: #330D10;

      td {
        padding: 21px 0 3px 0;
        font-size: 15px;
        border-bottom: 1px dotted #7B7B7B;
        @media only screen and (max-width: $break-mobile) {
          padding: 10px 0 3px 0;
          font-size: 14px;
        }
      }

      td:nth-child(even) {
        color: #3B58AE;
        font-weight: bold;
        text-align: right;
        font-size: 16px;
      }
    }

    tr:nth-child(even) {
      font-size: 13px;
      color: #7B7B7B;

      td {
        padding-top: 6px;
        font-size: 11px;
        @media only screen and (max-width: $break-mobile) {
          font-size: 10px;
        }
      }
    }
  }

  &-main_header {
    margin-bottom: 46px;
    font-size: 42px;
    font-weight: 500;
    color: #330D10;
    @media only screen and (max-width: $break-mobile) {
      margin: 40px 0 10px -3px;
      font-size: 35px;
    }
  }

  &-box {
    display: grid;
    grid-template-columns: 284px 598px 300px;
    @media only screen and (max-width: $break-mobile) {
      grid-template-columns: auto;
    }
  }

  &-header {
    margin-bottom: 17px;
    font-size: 35px;
    font-weight: 500;
    color: #330D10;
    @media only screen and (max-width: $break-mobile) {
      margin-bottom: 5px;
    }
  }

  &-container p {
    margin-bottom: 72px;
    font-size: 14px;
    color: #330D10;
    @media only screen and (max-width: $break-mobile) {
      margin-bottom: 45px;
      font-size: 13px;
    }
  }

  &-table_header {
    font-size: 22px;
    color: #330D10;
    @media only screen and (max-width: $break-mobile) {
      font-size: 21px;
    }
  }

  &-image {
    margin: -9px 0 0px 41px;
    @media only screen and (max-width: $break-mobile) {
      margin: 0 auto;
    }
  }

  &-menu {
    margin: 161px 0 0 0;
    border-left: 5px solid #3B58AE;
    @media only screen and (max-width: $break-mobile) {
      margin: 30px 0 40px 0;
    }

    div {
      margin: 0 0 0 17px;
      padding: 4px 0 14px 0;
    }

    a {
      padding: 7px 11px 7px 11px;
      text-decoration: none;
      color: #330D10;
      border-radius: 4px;
      font-size: 14px;
    }

    a:hover {
      background-color: #757575;
      color: #fff;
    }
  }
}


// Einrichtung


.facility_box {
  margin: 0 0 50px 0;
  border-left: 5px solid #3B58AE;
  padding: 0 0 0 36px;

  table {
    width: 38%;
    display: inline-table;
    margin: -10px 0 -12px 0;
  }

  p {
    font-size: 15px;
    padding: 0 0 16px 0;
    color: #4A4A4A;
  }

  td {
    font-size: 16px;
    padding: 0 0 10px 0;
    color: #4A4A4A;
  }

  td:nth-child(even) {
    font-weight: bold;
  }

  &-container {
    @include container();
  }

  &-content {
    margin: 76px 0 76px 0;
    display: grid;
    grid-template-columns: 590px 590px;

    h3 {
      margin: 0 0 34px 0;
      font-size: 27px;
      font-weight: 500;
      color: #330D10;
    }

    h2 {
      margin: -5px 0 47px 0;
      font-size: 41px;
      font-weight: 500;
      color: #330D10;
    }
  }
}

.box_image {
  &-wrap {
    display: grid;
    grid-template-columns: 295px 295px;
    grid-row-gap: 1px;
    grid-column-gap: 1px;
  }
}
